CASHFREE_APP_ID=
CASHFREE_ENVIRONMENT=
CASHFREE_SECRET_KEY=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_ACCOUNT_ID=
CLOUDFLARE_R2_BUCKET_NAME=
CLOUDFLARE_R2_PUBLIC_URL=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
DATABASE_URL=
GEMINI_API_KEY=
GOOGLE_MAPS_PLATFORM_KEY=
META_WHATSAPP_ACCESS_TOKEN=
META_WHATSAPP_PHONE_NUMBER_ID=
META_WHATSAPP_TEMPLATE_NAME=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=
VITE_API_URL=
VITE_MAP_LINK=